.space-buttons {
    flex: 1 1 auto;
  }
  .logo  {
    flex: 1;

  }
  .logoImg {
    width: auto;
    height: 61px;
    border-radius: 0px;   
    border-right: solid 3px #2D3250;
}
  fa-icon{
    cursor: pointer;
  }

  .search-container {
    position: relative;
  }
  
  .search-icon {
    cursor: pointer;
  }
  
  .search-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1; /* Set a higher z-index value */
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .close-icon {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border: none;
    border-radius: 3px;
  }
  
  /* Styling for close icon */
  .close-icon fa-icon {
    color: #333;
  }
  
  /* Hover effect for close icon */
  .close-icon:hover {
    background-color: #ddd;
  }
  
  mat-grid-tile{
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.image-wrapper {
  text-align: center; /* Center the image within the image-wrapper */
}

.home-page-product-image {
  width: 50%;
  height: auto;
}

.Text .Price b {
  font-size: 10px; /* Adjust the font size for smaller screens */
}
.Text .Title b {
  font-size: 10px; /* Adjust the font size for smaller screens */
  white-space: normal; /* Allow the text to wrap onto multiple lines */
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
}

.sub-menu{
  background: white;
  margin-top: 10px;
  border-radius: 15px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 250px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
}
.sub-menu .user-info{
  color: #525252;
}
.sub-menu-wrap{
  position: absolute;

  width: 320px;
  z-index: 999;

}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
  cursor: pointer;
}

.sub-menu-link p{
  width: 100%;
}
.sub-menu p{
  font-size: 16px;
}
.sub-menu-link:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.sub-menu-link .menuIcon {
  vertical-align: middle; /* Adjust the value as needed */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions fa-icon {
  margin: 10px;
}

.search-field .input{
  border-radius: 15px;
}

.category{
  margin-left: 25px;
}

.category span {
  font-size: 20px;
}
.category-button{
  padding-top: 4px;
  border-radius: 5px;
}


.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0); /* Adjust the opacity as needed */
}

.admin-tools button{
  border: solid 1px #2D3250;
  margin: 5px;
}

.admin-toolbar{
  justify-content: end;
}
.admin-tools{
 z-index: 1;
}