<body>
    <div class="container mt-3">
        <div class="card p-3">
            <div class="row">
                <div class="col-6">
                    <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Full name</mat-label>
                            <input matInput placeholder="Full name" [(ngModel)]="orderDetails.fullName" name="fullName">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Full address</mat-label>
                            <input matInput placeholder="Full address" [(ngModel)]="orderDetails.fullAddress" name="fullAddress">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Contact Number</mat-label>
                            <input matInput placeholder="Contact Number" [(ngModel)]="orderDetails.contactNumber" name="contactNumber">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Alternate Contact Number</mat-label>
                            <input matInput placeholder="Alternate Contact Number" [(ngModel)]="orderDetails.alternateContactNumber" name="alternateContactNumber">
                        </mat-form-field>
                        <div align="right">
                            <button type="submit" mat-stroked-button color="primary">Place Order</button>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div align="right">
                        <div class="table-wrapper">                        
                            <table class="table custom-table-width">
                            <thead class="thead">
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let product of cartProducts">
                                    <td><img src={{product.product.productImages[0].url}} height="70px"></td>
                                    <td class="product-name">
                                        <span class="product-name-text">{{product.amount}} x {{product.product.productName}}</span>
                                    </td>
                                    <td>
                                        {{getCalculatedTotal(product.amount,product.product.productDiscountedPrice)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
