.product-name {
    white-space: normal; 
}

.product-name-text {
    display: flex;
    max-width: 300px;
    word-wrap: break-word; 
}
.custom-table-width {
    width: 50%;
}
.container{
    margin-bottom: 20px;
    max-height: 90vh;
}
.card{
    max-height: 90vh;
}

.table-wrapper {
    max-height: 40vh;
    overflow-y: auto;
}