<div class="region">
    <div class="container mt-5">
        <div class="checkout">
            <p class="title"><b>Checkout<span style="color: red;">.</span></b></p>
            <hr>
            <div class="delivery-options">
                <p class="subtitle">- Delivery Options</p>
                <label id="example-radio-group-label"></label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="deliveryChose">
                    <div class="card">
                        <mat-radio-button color="primary" class="example-radio-button" [value]="deliveryOption[0]">
                            <div class="text">
                                <div class="icon">
                                    <mat-icon>home</mat-icon>
                                </div>
                                <div class="text-a">
                                    <b>Home Delivery</b>
                                    <br>
                                    Get your products delivered at your door.
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                    <div class="card">
                        <mat-radio-button color="primary" class="example-radio-button" [value]="deliveryOption[1]">
                            <div class="text">
                                <div class="icon">
                                    <mat-icon>flag</mat-icon>
                                </div>
                                <div class="text-a">
                                    <b>Easy Box</b>
                                    <br>
                                    <span style="text-decoration: underline;">Free shiping</span>
                                    Chose an EasyBox close to your location. You will get a notification on email and on
                                    your phone number when your products will be ready for pick up
                                    in your locker.
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                    <div class="card">
                        <mat-radio-button color="primary" class="example-radio-button" [value]="deliveryOption[2]">
                            <div class="text">
                                <div class="icon">
                                    <mat-icon>store</mat-icon>
                                </div>
                                <div class="text-a">
                                    <b>Store</b>
                                    <br>
                                    <span style="text-decoration: underline;">Free shiping</span>
                                    Chose from one of our Stores. You will get a notification on email and on your phone
                                    number when your products will be ready for pick up
                                    at your chosen store.
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>

            <div class="delivery-details" *ngIf="homeDelivery()">
                <p class="subtitle">- Delivery Details</p>
                <div class="card">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Country *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <div class="address">
                        <div class="row">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>County *</mat-label>
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>City *</mat-label>
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Street *</mat-label>
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Street Number *</mat-label>
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Zip Code *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="Other-info">
                            <mat-label>Other Information *</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                </div>
            </div>

            <div class="delivery-details" [formGroup]="deliveryForm">
                <p class="subtitle">- Billing Information</p>
                <div class="card mt-4">
                    <p>
                        <mat-error *ngIf="deliveryForm.get('firstName')?.invalid  && submitAttempted">
                            <p>* First Name is required</p>
                        </mat-error>
                        <mat-form-field appearance="outline"
                            [ngClass]="{'invalid': deliveryForm.get('firstName')?.invalid  && submitAttempted}">
                            <mat-label>First Name </mat-label>
                            <input matInput placeholder="" formControlName="firstName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-error *ngIf="deliveryForm.get('lastName')?.invalid  && submitAttempted">
                            <p>* Last Name is required</p>
                        </mat-error>
                        <mat-form-field appearance="outline"
                            [ngClass]="{'invalid': deliveryForm.get('lastName')?.invalid  && submitAttempted}">
                            <mat-label>Last Name </mat-label>
                            <input matInput placeholder="" formControlName="lastName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-error *ngIf="deliveryForm.get('email')?.invalid  && submitAttempted">
                            <p>* Email is required</p>
                        </mat-error>
                        <mat-form-field appearance="outline"
                            [ngClass]="{'invalid': deliveryForm.get('email')?.invalid  && submitAttempted}">
                            <mat-label>Email </mat-label>
                            <input matInput placeholder="" formControlName="email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-error *ngIf="deliveryForm.get('phone')?.invalid  && submitAttempted">
                            <p>* Phone Number is required</p>
                        </mat-error>
                        <mat-form-field appearance="outline"
                            [ngClass]="{'invalid': deliveryForm.get('phone')?.invalid  && submitAttempted}">
                            <mat-label>Phone Number </mat-label>
                            <input matInput placeholder="" formControlName="phone">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-error *ngIf="deliveryForm.get('country')?.invalid  && submitAttempted">
                            <p>* Country is required</p>
                        </mat-error>
                        <mat-form-field appearance="outline"
                            [ngClass]="{'invalid': deliveryForm.get('country')?.invalid  && submitAttempted}">
                            <mat-label>Country </mat-label>
                            <input matInput placeholder="" formControlName="country">
                        </mat-form-field>
                    </p>
                    <div class="address">
                        <div class="row">
                            <p>
                                <mat-error *ngIf="deliveryForm.get('county')?.invalid  && submitAttempted">* County is
                                    required</mat-error>
                                <mat-form-field appearance="outline"
                                    [ngClass]="{'invalid': deliveryForm.get('county')?.invalid  && submitAttempted}">
                                    <mat-label>County </mat-label>
                                    <input matInput placeholder="" formControlName="county">
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-error *ngIf="deliveryForm.get('city')?.invalid  && submitAttempted">* City is
                                    required</mat-error>
                                <mat-form-field appearance="outline"
                                    [ngClass]="{'invalid': deliveryForm.get('city')?.invalid  && submitAttempted}">
                                    <mat-label>City </mat-label>
                                    <input matInput placeholder="" formControlName="city">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <mat-error *ngIf="deliveryForm.get('street')?.invalid  && submitAttempted">* Street is
                                    required</mat-error>
                                <mat-form-field appearance="outline"
                                    [ngClass]="{'invalid': deliveryForm.get('street')?.invalid  && submitAttempted}">
                                    <mat-label>Street </mat-label>
                                    <input matInput placeholder="" formControlName="street">
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-error *ngIf="deliveryForm.get('streetno')?.invalid  && submitAttempted">* Street
                                    number is required</mat-error>
                                <mat-form-field appearance="outline"
                                    [ngClass]="{'invalid': deliveryForm.get('streetno')?.invalid  && submitAttempted}">
                                    <mat-label>Street number </mat-label>
                                    <input matInput placeholder="" formControlName="streetno">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="delivery-options payemnt-options">
                <p class="subtitle">- Payement Options</p>

                <label id="example-radio-group-label"></label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <div class="card">
                        <mat-radio-button color="primary" class="example-radio-button" [value]="deliveryOption[0]">
                            <div class="text">
                                <div class="icon">
                                    <mat-icon> attach_money</mat-icon>
                                </div>
                                <div class="text-a">
                                    <b>Cash at delivery</b>
                                    <br>
                                    Pay your products with cash at delivery.
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                    <div class="card">
                        <mat-radio-button color="primary" class="example-radio-button" [value]="deliveryOption[1]">
                            <div class="text">
                                <div class="icon">
                                    <mat-icon>credit_card</mat-icon>
                                </div>
                                <div class="text-a">
                                    <b>Online with Card</b>
                                    <br>
                                    payment through Viva Wallet in which PCI-DSS certified transactions are of maximum
                                    security and speed. Pay with all Credit, Debit or Prepaid VISA, MasterCard, AMEX,
                                    Maestro, Diners and Discover cards. Ideal for customers with an account
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="foot mt-5">
                <div class="helper-text" *ngIf="!agree && submitAttempted">You must agree before submitting the order</div>
                <footer class="footer">
                    <div class="footer-content">
                        <label class="checkbox-label">
                            <input type="checkbox" [(ngModel)]="agree">
                            <div>
                                I agree with the <a href="">terms of use</a> and the <a href="">personal data protection
                                    policy</a>
                            </div>
                        </label>
                        <div class="button-container">
                            <button mat-raised-button color="primary" (click)="submitForm()">Submit Order</button>
                        </div>

                    </div>
                </footer>
            </div>


        </div>
    </div>

    <div class="summary">
        <div class="content">
            <div class="header">
                <h1> Verify Products</h1>
                <div class="horizontal-line"></div>
            </div>
            <br>

            <div class="table-wrapper">
                <table class="table custom-table-width">
                    <thead class="thead">
                        <tr>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr *ngFor="let product of cartProducts">
                            <td><img src={{product.product.productImages[0].url}} height="70px"></td>
                            <td class="product-name">
                                <span class="product-name-text">{{product.amount}} x
                                    {{product.product.productName}}</span>
                            </td>
                            <td>
                                {{getCalculatedTotal(product.amount,product.product.productDiscountedPrice)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-container">
                <div class="horizontal-line mt-2 mb-2"></div>
                <div class="text">
                    <p class="text-left">{{getProductsCounter()}} Products : </p>
                    <p class="spacer"></p>
                    <p class="text-right">{{getTotalAmount()}} $</p>
                </div>
                <div class="text">
                    <p class="text-left"><b>Total :</b> </p>
                    <p class="spacer"></p>
                    <h2 class="text-right"><b>{{getTotalAmount()}} $</b></h2>
                </div>
                <div class="horizontal-line"></div>
            </div>
            <br>
            <div class="card">
                <div class="item">
                    <div class="icon">
                        <mat-icon>flag</mat-icon>
                    </div>
                    &nbsp;
                    <div>
                        <a>FREE SHIPING</a>
                        <p>for delivery through EasyBox and Store delivery options.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <mat-icon>flag</mat-icon>
                    </div>
                    &nbsp;
                    <div>
                        <a>FREE SHIPING</a>
                        <p>for delivery for orders over 49.99 $</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <mat-icon>autorenew</mat-icon>
                    </div>
                    &nbsp;
                    <div>
                        <a>RETRUN</a>
                        <p>14 days return policy</p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <mat-icon>lock_open</mat-icon>
                    </div>
                    &nbsp;
                    <div>
                        <a>TRANSACTIONS</a>
                        <p>Safety</p>
                    </div>
                </div>
                <div class="item">
                    <mat-icon> chat</mat-icon>
                    &nbsp;
                    <div>
                        <a>CALL CENTER 023-938-77-88</a>
                        <p>Monday - Friday 09:00-14:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>