<mat-toolbar class="header" color="primary" style="padding-left: 0px; border-bottom: solid 3px #2D3250 ;">

  <div id="logo">
    <a routerLink="/" style="text-decoration: none; color: white;">
      <img class="logoImg" src="assets/movement.jpg" alt="Logo">
    </a>
  </div>


  <div class="category">
    <button mat-raised-button (click)="openCategoryDialog()" class="category-button">
      <fa-icon [icon]="StoreIcon" style='font-size:24px'></fa-icon> &nbsp;
      <span>Products</span>
    </button>
  </div>

  <span class="space-buttons"></span>


  <div class="search-bar">
    <fa-icon [icon]="searchIcon" style='font-size:24px' routerLink="/"></fa-icon>&nbsp;
    <input #searchKeyword (keyup)="searchByKeyword(searchKeyword.value)" matInput name="searchKey" id="searchKey"
      placeholder="Search any product" style="border-radius: 5px; width: 500px; text-align: center;">
  </div>

    

  <span class="space-buttons"></span>

  <div class="actions">

    
    <div *ngIf="isLoggedIn()">
      <div class="admin-tools" *ngIf="isAdmin()">
        <button mat-raised-button color="primary" routerLink="/addNewProduct">Add Products</button>
        <button mat-raised-button color="primary" routerLink="/showProductDetails">Show ProductDetails</button>
        <button mat-raised-button color="primary" routerLink="/allOrders">All Orders</button>
      </div>
    </div>


    <fa-icon [icon]="UserIcon" style='font-size:24px' (click)="toggleDropdown($event)" #userIcon></fa-icon>
    <fa-icon [icon]="heartIcon" style='font-size:24px' routerLink="/"></fa-icon> 
    <fa-icon [icon]="roadIcon" style='font-size:24px' routerLink="/"></fa-icon> 
    <fa-icon [icon]="locationIcon" style='font-size:24px' routerLink="/"></fa-icon> 
    <fa-icon [icon]="CartIcon" style='font-size:24px' routerLink="/cart"></fa-icon> 

    <div class="sub-menu-wrap" *ngIf="showDropdown && userIconClicked">
      <div class="sub-menu">
        <hr>
        <a href="" class="sub-menu-link">
          <p><fa-icon class="menuIcon" [icon]="UserIcon" style='font-size:24px'></fa-icon>&nbsp;
            Edit Profile</p>
          <span>></span>
        </a>
        <hr>
        <a class="sub-menu-link">
          <p routerLink="/myOrders"><fa-icon class="menuIcon" [icon]="BoxIcon" style='font-size:24px'></fa-icon>&nbsp;
            Placed Orders</p>
          <span>></span>
        </a>
        <hr>
        <a href="" class="sub-menu-link">
          <p><fa-icon class="menuIcon" [icon]="GearIcon" style='font-size:24px'></fa-icon>&nbsp;
            Settings & Privacy</p>
          <span>></span>
        </a>
        <hr>
        <a href="" class="sub-menu-link">
          <p>&nbsp;&nbsp;<fa-icon class="menuIcon" [icon]="InfoIcon" style='font-size:24px'></fa-icon>&nbsp;
            &nbsp;Help & Support</p>
          <span>></span>
        </a>
        <hr>
        <a class="sub-menu-link">
          <p (click)="logout()"><fa-icon class="menuIcon" [icon]="LogoutIcon" style='font-size:24px'></fa-icon>&nbsp;
            Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </div>
  <span class="space-buttons"></span>
</mat-toolbar>