<mat-toolbar color="primary">

  <div id=“logo”>
    <a routerLink="/" style="text-decoration: none; color: white;">ALL sports</a>
  </div>
  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
    Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
    Logout
  </button>

</mat-toolbar>
<mat-toolbar *ngIf="isLoggedIn()" color="primary">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button color="primary" routerLink="/addNewProduct" *ngIf="isAdmin()">Add Products</button>
  <button mat-raised-button color="primary" routerLink="/showProductDetails" *ngIf="isAdmin()">Show Product Details</button>
</mat-toolbar>


