<div class="sidebar">
  <ul>
    <li *ngFor="let category of categories">
      <a (click)="toggleSubcategories(category)">{{ category.name }}</a>
      <ul *ngIf="category.showSubcategories">
        <li *ngFor="let category of category.subcategories">
          <a (click)="toggleSubcategories(category)">{{ category.name }}</a>
          <ul *ngIf="category.showSubcategories">
            <li *ngFor="let category of category.subcategories">
              <a routerLink="{{category.route}}">{{ category.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
