<div class="sub-menu-wrap">
    <div class="sub-menu">
      <a  class="sub-menu-link">
        <p>
          Edit Profile</p>
        <span>></span>
      </a>
      <hr>
      <a class="sub-menu-link">
        <p>
          Placed Orders</p>
        <span>></span>
      </a>
      <hr>
      <a  class="sub-menu-link">
        <p>
          Settings & Privacy</p>
        <span>></span>
      </a>
      <hr>
      <a  class="sub-menu-link">
        <p>
          Help & Support</p>
        <span>></span>
      </a>
      <hr>
      <a class="sub-menu-link">
        <p>
          Logout</p>
        <span>></span>
      </a>
    </div>
  </div>