<div class="contrainer p-1">
    <div class="row mt-5" style="margin: 20rem;">
        <div class="col-6">
            <div class="card image-container p-3">
                <img [src]="product.productImages[selectedProductIndex].url" alt="" class="product-zoom-image">
            </div>
            <div class="mt-2">
                <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of product.productImages; let i = index" (click)="changeIndex(i)"
                        style="border: 1px solid lightgray; cursor: pointer;">
                        <img [src]="file.url" alt="" class="" height="200px">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

        </div>

        <div class="col-6" style="padding-left: 5rem;">
            <div class="product-information">
                <div>
                    <div class="mt-3">
                        <h1><b>{{product.productName}}</b></h1>
                        <span>{{product.gender}} {{product.category}}</span>
                        <br>
                    </div>
                    <div class="mt-5 price">
                        <b>{{product.productDiscountedPrice}} $</b>
                        &nbsp;&nbsp;
                        <b style="text-decoration: line-through;">{{product.productActualPrice}} $</b>
                    </div>

                    <div class="mt-5">
                        <span>Selecor Color</span>
                        <div class="shoe-colors">
                            <div class="row" *ngFor="let row of colorRows" >
                              <div class="color" *ngFor="let color of row">
                                {{ color }}
                            </div>
                        </div>
                    </div>

                    <div>
                        <span>Select Size</span>
                        <div class="shoe-sizes">
                            <div class="row" *ngFor="let row of sizeRows" >
                              <div class="size" *ngFor="let size of row">
                                {{ size }}
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="mt-3">
                        {{product.productDescription}}
                    </div>
                    <div class="mt-5 text-center">
                        <button mat-raised-button color="warn" style="width: 200px;"
                            (click)="buyProduct(product.productId)">Buy Now</button>
                        &nbsp;
                        <button mat-raised-button color="" style="width: 200px;"
                            (click)="addToCart(product.productId)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>