<div id="sidebar">
  <div class="sub-menu-wrap">
    <div class="sub-menu">
      <a class="sub-menu-link" *ngFor="let category of subcategories">
        <div class="content">
          <p (click)="toggleSubcategories(category)" (click)="renderSubcategories(category.subcategories,category.name,category.route)">
            <fa-icon class="menuIcon" style='font-size:24px'></fa-icon>
            {{ category.name }} <span class="space-buttons"></span> <span>></span>
          </p>
          <div class="row-border"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="subcategories">
    <app-sub-category *ngIf="showSubcategories" [subcategories]="subcategory" [Title]="subcategoryTitle"></app-sub-category>
  </div>
</div>