.space-buttons {
  flex: 1 1 auto;
}

#sidebar {
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-left: solid 2px #3F51B5;
}

.sub-menu-link{
  display: flex;
  flex-direction: column;

}
.row-border{
  border-bottom: solid 1px black;
  margin-left: 20px;
  margin-right: 20px;
}

.sub-menu-link p{
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  color: #3F51B5;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.sub-menu-link :hover p{
  background-color: #3F51B5;
  color: #f0f0f0;
}
.sub-menu-link :hover{
  background-color: #3F51B5;
  color: #f0f0f0;
}

.sub-menu{
  width: 250px;
  z-index: 999;
  background-color: #f0f0f0;
}
.sub-menu a{
  text-decoration: none;
}


app-sub-category {
  z-index: 1;
}