<div class="contrainer mt-3">
    <div class="content p-3">
        <div class="card-container">
            <mat-grid-list [cols]="breakpoint" rowHeight="7:8" gutterSize="20px">
                <mat-grid-tile *ngFor="let p of products">
                    <div class="row p-1" (click)="showProductDetails(p.productId)" style="cursor: pointer; text-align: center;">
                        <div class="image-wrapper">
                            <img [src]="p.productImages[0].url" alt="" class="home-page-product-image">
                        </div>
                        <div class="Text">
                            <div class="Title mt-2">
                                <b>{{p.productName}}&nbsp;<span class="discount">-{{getDiscount(p.productActualPrice,p.productDiscountedPrice)}}%</span></b>
                                <br>
                                <span class="Price">
                                    <b style="color: red;">
                                        {{p.productDiscountedPrice}} Lei
                                    </b>
                                    &nbsp;
                                    <b style="text-decoration: line-through; color: black;">
                                        {{p.productActualPrice}} Lei
                                    </b>
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>            
        </div>
       
        <div class="text-center mt-5" style="padding-bottom: 50px;" *ngIf="showLoadButton">
            <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Load More</button>
        </div>
        <div class="mt-5">
            
        </div>
    </div>
</div>
