<div class="container">
    <div class="left-side">
        <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AEYmBYRghUbN8ELL90qkT1i3_keXFXVgQazbGJG2JGQYBtWlwjOC42ihQ4Y5HonwHaLFTR8J01nvGwoSYJ-_q8CiDWt4qDP02Q=w1092-h932"
            alt="Your Image">
    </div>
    <div class="right-side">
        <h1>Log in</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="right-side">

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput ngModel name="userPassword" id="userPassword" placeholder="Password" type="password">
            </mat-form-field>
            <div class="options">
                <mat-checkbox color="primary" class="example-margin">Remember me</mat-checkbox>
                <a href="">Forgot password?</a>
            </div>
            <button type="submit" mat-raised-button color="primary" style="width: 100%;">Login</button>
        </form>
        <div class="text-center">
            <p>Don’t have an accout yet?</p>
            <button class="w-20" mat-raised-button (click)="registerUser()" style="color: var(--Green, #38CB89);">Sign up</button>
        </div>
    </div>
</div>