.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 456px;
    margin-bottom: 1rem;
    margin-top: 10px;
}

img {
    width: 70%;
    height: auto;
    border-radius: 15%;
  }

.left-side {
    display: flex;
    width: 736px;
    height: 1080px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.options {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray -6.649px 197.449px / 142.805% 64.911% no-repeat, #F3F5F7;
    background-blend-mode: multiply, normal;
}
